@using CheckersWebsite.Enums
@using CheckersWebsite.Facade
@using CheckersWebsite.ViewModels
@using CheckersWebsite.Resources

<div>
    <div class="row board-editor" xmlns="http://www.w3.org/1999/xhtml">
        <div class="col-lg-1"></div>
        <div class="col-lg-1 piece-col column">
            <img id="piece-black-checker" class="template-piece" src="@Url.Content($"~/images/SteelTheme/BlackChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $('#piece-black-checker').addClass('selected-add'); }" />
            <img id="piece-black-king" class="template-piece" src="@Url.Content($"~/images/SteelTheme/BlackKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $('#piece-black-king').addClass('selected-add'); }" />
            <img id="piece-white-checker" class="template-piece" src="@Url.Content($"~/images/SteelTheme/WhiteChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $('#piece-white-checker').addClass('selected-add'); }" />
            <img id="piece-white-king" class="template-piece" src="@Url.Content($"~/images/SteelTheme/WhiteKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $('#piece-white-king').addClass('selected-add'); }" />
        </div>
        <div class="col-lg-6 column board-col">
            @{
                var controller = GameController.FromVariant(Variant.AmericanCheckers);
                var boardVM = new BoardViewModel
                {
                    GameBoard = controller.Board.GameBoard
                };
            }
            @Html.Partial("~/Views/Controls/CheckersBoardEditor.cshtml", boardVM)
            <div class="input-group">
                <div class="input-group-addon"><label for="white-weight">FEN</label></div>
                <input id="fen-board-editor" class="form-control" type="text" readonly value="@controller.Fen" />
                <span class="input-group-btn">
                    <button id="copy-fen" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-copy"></span>
                        <span class="sr-only">Copy FEN</span>
                    </button>
                </span>
            </div>
            <div id="copied">
                <span>Copied!</span>
            </div>
        </div>
        <div class="col-lg-3 column">
            <div class="form-group">
                <label for="variant">Variant</label>
                @Html.DropDownList("variant-board-editor", Enum.GetNames(typeof(Variant)).Select(s =>
                                   new SelectListItem
                                   {
                                       Text = Resources.ResourceManager.GetString(s),
                                       Value = s
                                   }
                               ),
                               new { @class = "select form-control", id = "variant-board-editor" })
            </div>
            <div class="form-group">
                <label for="player">Starting Player</label>
                @Html.DropDownList("player-board-editor", Enum.GetNames(typeof(Player)).Select(s =>
                                   new SelectListItem
                                   {
                                       Text = Resources.ResourceManager.GetString(s),
                                       Value = s
                                   }
                               ),
                               new { @class = "select form-control", id = "player-board-editor" })
            </div>
            <div class="form-group">
                <label for="position-board-editor">Position</label>
                <select id="position-board-editor" class="select form-control">
                    <option value="default">Default</option>
                    <option value="empty">Empty</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        boardEditorInit();

        $('#variant-board-editor').change(updateBoardEditor);
        $('#position-board-editor').change(updateBoardEditor);
        $('#player-board-editor').change(GetFEN);

        $('#copy-fen').click(function () {
            $('#fen-board-editor').select();
            document.execCommand("copy");

            $('#copied').fadeIn('slow', function () {
                $('#copied').delay(5000).fadeOut();
            });
        });
    });
</script>