@using CheckersWebsite.Facade
@using CheckersWebsite.Resources

<div>
    <div class="row board-editor" xmlns="http://www.w3.org/1999/xhtml">
        <div class="col-lg-1"></div>
        <div class="col-lg-1 piece-col">
            <img id="piece-black-checker" class="piece" src="@Url.Content($"~/images/SteelTheme/BlackChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
            <img id="piece-black-king" src="@Url.Content($"~/images/SteelTheme/BlackKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
            <img id="piece-white-checker" src="@Url.Content($"~/images/SteelTheme/WhiteChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
            <img id="piece-white-king" src="@Url.Content($"~/images/SteelTheme/WhiteKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
        </div>
        <div class="col-lg-6">
            @Html.Partial("~/Views/Controls/CheckersBoardEditor.cshtml", GameController.FromVariant(Variant.AmericanCheckers).Board)
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="variant">Variant</label>
                @Html.DropDownList("variant-board-editor", Enum.GetNames(typeof(Variant)).Select(s =>
                              new SelectListItem
                              {
                                  Text = Resources.ResourceManager.GetString(s),
                                  Value = s
                              }
                          ),
                          new { @class = "select form-control", id = "variant-board-editor" })
            </div>
            <div class="form-group">
                <label for="player">Starting Player</label>
                @Html.DropDownList("player-board-editor", Enum.GetNames(typeof(Player)).Select(s =>
                              new SelectListItem
                              {
                                  Text = Resources.ResourceManager.GetString(s),
                                  Value = s
                              }
                          ),
                          new { @class = "select form-control", id = "player-board-editor" })
            </div>
            <div class="form-group">
                <label for="position-board-editor">Position</label>
                <select id="position-board-editor" class="select form-control">
                    <option value="default">Default</option>
                    <option value="empty">Empty</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#variant-board-editor').change(updateBoardEditor);
        $('#position-board-editor').change(updateBoardEditor);
    });
</script>