@using CheckersWebsite.Facade
@using CheckersWebsite.Resources

<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" id="board-editor-svg" class="back-drop" onload="Init('#board-editor-svg')" onmousedown="Grab(evt)" onmousemove="Drag(evt)" onmouseup="Drop(evt)">
    <foreignObject class="node" x="0" y="0" width="100%" height="100%">
        <div class="row board-editor" xmlns="http://www.w3.org/1999/xhtml">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <svg width="100%" height="100%" style="background-color: white; border: 1px solid black" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <image id="piece-black-checker" player="Black" height="100%" width="100%" xlink:href="@Url.Content($"~/images/SteelTheme/BlackChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
                </svg>
                <svg width="100%" height="100%" style="background-color: white; border: 1px solid black" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <image id="piece-black-king" player="Black" height="100%" width="100%" xlink:href="@Url.Content($"~/images/SteelTheme/BlackKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
                </svg>
                <svg width="100%" height="100%" style="background-color: white; border: 1px solid black" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <image id="piece-white-checker" player="White" height="100%" width="100%" xlink:href="@Url.Content($"~/images/SteelTheme/WhiteChecker.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
                </svg>
                <svg width="100%" height="100%" style="background-color: white; border: 1px solid black" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <image id="piece-white-king" player="White" height="100%" width="100%" xlink:href="@Url.Content($"~/images/SteelTheme/WhiteKing.png")" onmousedown="{ $('.selected-add').removeClass('selected-add'); $(evt.target).addClass('selected-add'); }" />
                </svg>
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Views/Controls/CheckersBoardEditor.cshtml", GameController.FromVariant(Variant.AmericanCheckers))
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="variant">Variant</label>
                    @Html.DropDownList("variant", Enum.GetNames(typeof(Variant)).Select(s =>
                             new SelectListItem
                             {
                                 Text = Resources.ResourceManager.GetString(s),
                                 Value = s
                             }
                         ),
                         new { @class = "select form-control", id = "variant-board-editor" })
                </div>
                <div class="form-group">
                    <label for="variant">Starting Player</label>
                    @Html.DropDownList("player", Enum.GetNames(typeof(Player)).Select(s =>
                             new SelectListItem
                             {
                                 Text = Resources.ResourceManager.GetString(s),
                                 Value = s
                             }
                         ),
                         new { @class = "select form-control", id = "player-board-editor" })
                </div>
                <div class="form-group">
                    <label for="variant">Position</label>
                    <select id="position" class="select form-control">
                        <option value="default">Default</option>
                        <option value="empty">Empty</option>
                    </select>
                </div>
            </div>
        </div>
    </foreignObject>
</svg>

<script>
    $('#board-editor-svg').height($('.board').width());
</script>