@using CheckersWebsite.Enums
@using CheckersWebsite.Resources
@model List<Database.Game>

<div class="row">
    <div class="col-lg-2 column">
    </div>
    <div class="col-lg-6 column game-list-col">
        @{ 
            var playerID = (Guid)ViewData["playerID"];
        }
        <h2>Lobby</h2>
        <div>
            <table id="lobby" class="game-list">
                @foreach (var game in Model.Where(w => w.GameStatus == (int)Status.InProgress && (w.BlackPlayerID == Guid.Empty || w.WhitePlayerID == Guid.Empty)))
                {
                    <tr>
                        <td><a href="~/Home/Game/@game.ID">@Resources.ResourceManager.GetString(((Variant)game.Variant).ToString())</a></td>
                        <td>@Resources.ResourceManager.GetString(((Status)game.GameStatus).ToString())</td>
                    </tr>
                }
            </table>
        </div>
        <hr />
        <h2>Your Games</h2>
        <div>
            <table id="user-game-list" class="game-list">
                @foreach (var game in Model.Where(w => w.BlackPlayerID == playerID || w.WhitePlayerID == playerID))
                {
                    <tr>
                        <td><a href="~/Home/Game/@game.ID">@Resources.ResourceManager.GetString(((Variant)game.Variant).ToString())</a></td>
                        <td>@Resources.ResourceManager.GetString(((Status)game.GameStatus).ToString())</td>
                    </tr>
                }
            </table>
        </div>
        <hr />
        <h2>All Games</h2>
        <div>
            <table id="game-list" class="game-list">
                @foreach (var game in Model)
                {
                    <tr>
                        <td><a href="~/Home/Game/@game.ID">@Resources.ResourceManager.GetString(((Variant)game.Variant).ToString())</a></td>
                        <td>@Resources.ResourceManager.GetString(((Status)game.GameStatus).ToString())</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-lg-3 column">
        <a class="btn btn-default home-page-create" data-toggle="modal" data-target="#create-game-modal">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Create Game</span>
        </a>
    </div>
</div>