@using CheckersWebsite.Enums
@using CheckersWebsite.ViewModels
@model BoardViewModel

@{
    var orientation = Player.Black;
    var theme = (Theme)ViewData["theme"];

    int GetAdjustedIndex(int value)
    {
        return orientation == Player.White ? value : 7 - value;
    }
}

<div class="board" id="board-editor-board-container" orientation="@orientation">
    @for (var row = 0; row < 8; row++)
    {
        for (var col = 0; col < 8; col++)
        {
            var piece = Model[row, col];

            <img class="square @(GetAdjustedIndex(col) % 2 == GetAdjustedIndex(row) % 2 ? "" : "drop-target")"
                 @(piece == null ? Html.Raw(@"tabindex=""0""") : Html.Raw(""))
                 title="square on row @row column @col"
                 id="square@(GetAdjustedIndex(row))@(GetAdjustedIndex(col))"
                 src="@Url.Content($"~/images/{theme}Theme/{(GetAdjustedIndex(col) % 2 == GetAdjustedIndex(row) % 2 ? "Light" : "Dark")}{theme}.png")"
                 style="grid-row: @(GetAdjustedIndex(row) + 1); grid-column: @(GetAdjustedIndex(col) + 1)" />
                 
            if (piece != null)
            {
                <img id="piece@(GetAdjustedIndex(row))@(GetAdjustedIndex(col))"
                        class="piece"
                        tabindex="0"
                        title="@piece.Player.ToString() @piece.PieceType.ToString() on row @row column @col"
                        player="@piece.Player.ToString()"
                        pieceType="@piece.PieceType.ToString()"
                        src="@Url.Content($"~/images/{theme}Theme/{piece.Player}{piece.PieceType}.png")"
                        style="grid-row: @(GetAdjustedIndex(row) + 1); grid-column: @(GetAdjustedIndex(col) + 1)" />
            }
        }
    }
</div>