@using CheckersWebsite.Facade
@model GameController

<div class="row">
    <div class="col-md-2 column" style="border: 1px solid black">
        @Html.Partial("~/Views/Controls/Opponents.cshtml", Model)
    </div>
    <div class="col-md-6 column board-col match-height-game-control">
        <h2 class="player-to-move h3">
            @switch (Model.GameStatus)
            {
                case Status.InProgress:
                    @: @Model.CurrentPlayer's Turn
                    break;
                case Status.Drawn:
                    @: Game Drawn
                    break;
                case Status.BlackWin:
                    @: Black Won
                    break;
                case Status.WhiteWin:
                    @: White Won
                    break;
            }
        </h2>
        @Html.Partial("~/Views/Controls/CheckersBoard.cshtml", Model)
    </div>
    <div class="col-md-3 column move-history match-height-game-control">
        @Html.Partial("~/Views/Controls/MoveControl.cshtml", Model.MoveHistory)
        <div class="controls">
            <button id="undo" class="ctrl-button btn btn-default" onclick="undo()" title="Undo" disabled="">
                <span class="glyphicon glyphicon-undo"></span>
                <span class="sr-only">Undo</span>
            </button>
            <a id="new-game" class="ctrl-button btn btn-default @(Model.ID == Guid.Empty || Model.GameStatus != Status.InProgress ? "" : "hide")" href="/Home/NewGame" title="Create Game">
                <span class="glyphicon glyphicon-create"></span>
                <span class="sr-only">Create Game</span>
            </a>
            <button id="resign" class="ctrl-button btn btn-default @(Model.ID == Guid.Empty || Model.GameStatus != Status.InProgress ? "hide" : "")" onclick="resign()" title="Resign">
                <span class="glyphicon glyphicon-abort"></span>
                <span class="sr-only">Resign</span>
            </button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.match-height-game-control').matchHeight({ target: $('.board-col') });
    });

    $(function () {
        $('ol.moves').matchHeight({ target: $('.board'), subtractFromTarget: 61 });
    });
</script>