@using CheckersWebsite.Facade
@model GameController

@{
    var playerID = (Guid)ViewData["playerID"];
    var blackPlayerID = (Guid)ViewData["blackPlayerID"];
    var whitePlayerID = (Guid)ViewData["whitePlayerID"];
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <button id="join" class="btn btn-alert @(blackPlayerID == playerID || whitePlayerID == playerID || blackPlayerID != Guid.Empty && whitePlayerID != Guid.Empty ? "hide" : "")" onclick="joinGame()" title="Join">Join</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 column" style="border: 1px solid black">
        @Html.Partial("~/Views/Controls/Opponents.cshtml", Model)
    </div>
    <div class="col-lg-6 column board-col match-height-game-control">
        <h2 class="player-to-move h3">
            @switch (Model.GameStatus)
            {
                case Status.InProgress:
                    @: @Model.CurrentPlayer's Turn
                    break;
                case Status.Drawn:
                    @: Game Drawn
                    break;
                case Status.BlackWin:
                    @: Black Won
                    break;
                case Status.WhiteWin:
                    @: White Won
                    break;
                case Status.Aborted:
                    @: Game Aborted
                    break;
            }
        </h2>
        @Html.Partial("~/Views/Controls/CheckersBoard.cshtml", Model)
    </div>
    <div class="col-lg-3 column move-history match-height-game-control">
        @Html.Partial("~/Views/Controls/MoveControl.cshtml", Model.MoveHistory)
        <div class="controls">
            <button id="undo" class="ctrl-button btn btn-default" onclick="undo()" title="Undo" disabled="">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="sr-only">Undo</span>
            </button>
            <a id="new-game" class="ctrl-button btn btn-default @(Model.ID == Guid.Empty || Model.GameStatus != Status.InProgress || (blackPlayerID != playerID && whitePlayerID != playerID) ? "" : "hide")" data-toggle="modal" data-target="#create-game-modal" title="Create Game">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="sr-only">Create Game</span>
            </a>
            <button id="resign" class="ctrl-button btn btn-default @(Model.ID == Guid.Empty || Model.GameStatus != Status.InProgress || (blackPlayerID != playerID && whitePlayerID != playerID) ? "hide" : "")" onclick="resign()" title="@(blackPlayerID == Guid.Empty || whitePlayerID == Guid.Empty ? "Abort" : "Resign")">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">@(blackPlayerID == Guid.Empty || whitePlayerID == Guid.Empty ? "Abort" : "Resign")</span>
            </button>
            <button id="flip-orientation" class="ctrl-button btn btn-default" onclick="flip()" title="Flip Orientation">
                <span class="glyphicon glyphicon-retweet"></span>
                <span class="sr-only">Flip Orientation</span>
            </button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.match-height-game-control').matchHeight({ target: $('.board-col'), subtractFromTarget: 5 });
        $('ol.moves').matchHeight({ target: $('.board'), subtractFromTarget: 81 });

        GameInit();
    });
</script>