@model List<CheckersWebsite.Facade.PdnTurn>

<ol class="moves">
    @foreach (var turn in Model)
    {
        <li>
            <input id="@turn.BlackMove?.ID" class="toggle" name="move" type="radio" value="@turn.BlackMove?.DisplayString" />
            <label for="@turn.BlackMove?.ID" onclick="displayGame('@turn.BlackMove?.ID')">@turn.BlackMove?.DisplayString</label>
            @if (turn.WhiteMove != null)
            {
                <input id="@turn.WhiteMove?.ID" class="toggle" name="move" type="radio" value="@turn.WhiteMove?.DisplayString" />
                <label for="@turn.WhiteMove?.ID" onclick="displayGame('@turn.WhiteMove?.ID')">@turn.WhiteMove?.DisplayString</label>
            }
        </li>
    }
</ol>